[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
scikit-learn = "*"
xgboost = "*"
pandas = "*"
numpy = "*"
jupyterlab = "*"
tensorflow = "*"
matplotlib = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.8"
